@model AutomacaoFolhaPagamento.Models.CargoDetalhes

@{
    ViewData["Title"] = "Edição";
}


<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item active" aria-current="page"><a asp-controller="Cargos" asp-action="Index">Cargos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detalhes do cargo</li>
    </ol>
</nav>

<h2>Detalhes do Cargo</h2>

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form asp-action="SalvarEdicao" asp-controller="Cargos" method="post">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Edição de Cargo</h3>
                        <hr />

                        <div class="form-group">
                            <label>ID</label>
                            <input type="hidden" asp-for="id_cargo" />
                            <p>@Model.id_cargo</p>
                        </div>

                        <div class="form-group">
                            <label>Nome do Cargo</label>
                            <input type="text" class="form-control" asp-for="nome_cargo" disabled />
                        </div>

                        <div class="form-group">
                            <label>Descrição</label>
                            <textarea class="form-control" asp-for="descricao_cargo" disabled></textarea>
                        </div>

                        <div class="form-group">
                            <label>Salário</label>
                            <input type="text" class="form-control" asp-for="salario" disabled />
                        </div>

                        <div class="form-group" style="margin-bottom:16px">
                            <label>Departamento</label>
                            <select class="form-control" asp-for="id_departamento" disabled>
                                @foreach (var dept in (List<SelectListItem>)ViewData["Departamentos"])
                                {
                                    if (Model.id_departamento.ToString() == dept.Value)
                                    {
                                        <option value="@dept.Value" selected>@dept.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@dept.Value">@dept.Text</option>
                                    }
                                }
                            </select>
                        </div>


                        @if (ViewData["ErrorMessage"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewData["ErrorMessage"]
                            </div>
                        }
                        @if (ViewData["SuccessMessage"] != null)
                        {
                            <div class="alert alert-success" role="alert">
                                @ViewData["SuccessMessage"]
                            </div>
                        }

                        <button type="button" id="btnEditar" class="btn btn-warning">Editar</button>
                        <button type="submit" id="btnSalvar" class="btn btn-success" style="display:none;">Salvar</button>
                        <a asp-controller="Cargos" asp-action="Index" class="btn btn-primary">Voltar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById("btnEditar").addEventListener("click", function () {

        let inputs = document.querySelectorAll("input, textarea, select");
        for (let input of inputs) {
            input.removeAttribute("disabled");
        }

        document.getElementById("btnSalvar").style.display = "inline-block";
        this.style.display = "none";
    });

    document.addEventListener('DOMContentLoaded', function () {
        let salarioDisplay = document.getElementById('salarioDisplay');
        let salarioActual = document.getElementById('salarioActual');

        salarioDisplay.addEventListener('focus', function () {
            let value = salarioDisplay.value.trim();
            if (value.startsWith('R$')) {
                salarioDisplay.value = value.substring(2);
            }
        });

        salarioDisplay.addEventListener('blur', function () {
            let value = salarioDisplay.value.trim();
            salarioActual.value = value;
            if (!value.startsWith('R$')) {
                salarioDisplay.value = 'R$ ' + value;
            }
        });
    });
</script>
