@using AutomacaoFolhaPagamento.Models;
@{
    ViewData["Title"] = "Relatorio Detalhado";
}
@model IEnumerable<HistPagamentoModel> 

<div class="w-100 " style="background-color: #fafafa; border-top-right-radius: 8px; border-bottom-right-radius: 8px; margin-top: 32px">
    <div clas="d-flex w-100" >
        <div style="">
            <h4 class="mt-3 mb-3">Relatório de Pagamento Mensal</h4>
        </div>

        <form asp-controller="Relatorio" asp-action="Relatorio" method="post" class="d-flex flex-wrap">
            <div class="form-group col-md-8">
                <label for="mes">Selecione o Mês</label>
                <select id="mes" name="MesSelecionado" class="form-control">
                    <option value="1">Janeiro</option>
                    <option value="2">Fevereiro</option>
                    <option value="3">Março</option>
                    <option value="4">Abril</option>
                    <option value="5">Maio</option>
                    <option value="6">Junho</option>
                    <option value="7">Julho</option>
                    <option value="8">Agosto</option>
                    <option value="9">Setembro</option>
                    <option value="10">Outubro</option>
                    <option value="11">Novembro</option>
                    <option value="12">Dezembro</option>
                    <option value="13">Todos</option>
                </select>
            </div>
            <div class="form-group col-md-12 " style="text-align:right">
            <button type="submit" class="btn btn-primary" >Gerar Relatório</button>
          </div>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>ID Histórico</th>
                    <th>ID Funcionário</th>
                    <th>Data de Pagamento</th>
                    <th>Salário Base</th>
                    <th>Horas Extras</th>
                    <th>Benefícios</th>
                    <th>Total Líquido</th>
                </tr>
            </thead>
            <tbody>@if (Model != null)
                {
                    @foreach (var pagamento in Model)
                    {
                        <tr>
                            <td>@pagamento.IdHist</td>
                            <td>@pagamento.IdFuncionario</td>
                            <td>@pagamento.DataPagamento.ToShortDateString()</td>
                            <td>@pagamento.SalarioBase.ToString("C2")</td>
                            <td>@pagamento.HoraEx</td>
                            <td>@pagamento.Beneficios.ToString("C2")</td>
                            <td>@pagamento.TotalLiq.ToString("C2")</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
