@using AutomacaoFolhaPagamento.Models;
@{
    ViewData["Title"] = "Cadastrar";
}

@model NovoFuncionarioViewModel

<head>
    <link href="~/css/cadastrofuncionario.css" rel="stylesheet" />
</head>

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item active" aria-current="page"><a asp-controller="Funcionarios" asp-action="Index"><span>Funcionários</span></a></li>
        <li class="breadcrumb-item active" aria-current="page">Cadastro de funcionários</li>
    </ol>
</nav>


<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4>Cadastro de Funcionários</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Cadastro" asp-controller="Funcionarios" method="post" class="pb-5">
                        <h5 style="margin-top:16px">Dados pessoais</h5>
                        <div class="row">
                            <div class="col-12 col-sm-8 mb-3">
                                <label for="nome" class="">Nome do funcionário</label>
                                <input asp-for="nome" type="text" class="form-control" required>
                            </div>

                            <div class="col-12 col-sm-4 mb-3">
                                <label for="cpf" class="">CPF</label>
                                <input asp-for="cpf" type="text" class="form-control" placeholder="XXX.XXX.XXX-XX" id="cpf" maxlength="14" required>
                            </div>


                            <div class="mb-3">
                                <label for="flexRadioDefault" class="">Sexo</label>
                                <div class="d-flex flex-row">

                                    <div class="form-check me-2">
                                        <input asp-for="sexo" class="form-check-input" type="radio" id="flexRadioDefault1" value="Masculino" required>
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Masculino
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input asp-for="sexo" class="form-check-input" type="radio" id="flexRadioDefault2" value="Feminino" required>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Feminino
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 mb-12">
                                <label for="sexo" class="">Estado Civil</label>
                                <select asp-for="estado_civil" class="form-control" required>

                                    <option value="Solteiro">Solteiro</option>
                                    <option value="Casado(a)">Casado(a)</option>
                                    <option value="Divorciado(a)">Divorciado(a)</option>
                                    <option value="União estável">União estável</option>

                                </select>
                            </div>



                            <div class="col-12 col-sm-12 mb-12">
                                <label for="cargo_id" class="">Cargo</label>
                                <select asp-for="cargo_id" class="form-control" required>
                                    @foreach (var item in ViewData["Cargos"] as List<SelectListItem>)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>

                            <div class="col-12 col-sm-12 mb-12">
                                <label for="email_usuario" class="">Email</label>
                                <select asp-for="email_usuario" class="form-control" required>
                                    @foreach (var item in ViewData["Usuarios"] as List<SelectListItem>)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>

                            <div class="col-12 col-sm-12 mb-12">
                                <label for="data_contratacao" class="">Data Contratação</label>
                                <input asp-for="data_contratacao" type="date" class="form-control" required>
                            </div>
                        </div>
                        <h5 style="margin-top:16px">Endereço</h5>
                        <div class="row">
                            <div class="col-12 col-sm-12 mb-12">
                                <label for="rua" class="">Rua</label>
                                <input asp-for="rua" type="text" class="form-control" required>
                            </div>
                            <div class="col-12 col-sm-12 mb-12">
                                <label for="tipo_endereco" class="">Tipo endereço</label>
                                <select asp-for="tipo_endereco" class="form-control" required>

                                    <option value="Residencial">Residencial</option>
                                    <option value="Comercial">Comercial</option>
                                    <option value="Apartamento">Apartamento</option>

                                </select>
                            </div>

                            <div class="col-12 col-sm-12 mb-12">
                                <label for="num_endereco" class="">Número</label>
                                <input asp-for="num_endereco" type="text" class="form-control w-100" required>
                            </div>
                            <div class="col-12 col-sm-6 mb-3">
                                <label for="bairro" class="">Bairro</label>
                                <input asp-for="bairro" type="text" class="form-control" required>
                            </div>
                            <div class="col-12 col-sm-6 mb-3">
                                <label for="cep" class="">CEP</label>
                                <input asp-for="cep" type="text" class="form-control" required>
                            </div>

                            <div class="col-12 col-sm-12 mb-12">
                                <label for="cidade" class="">Cidade</label>
                                <input asp-for="cidade" type="text" class="form-control" required>
                            </div>
                            <div class="col-12 col-sm-12 mb-12">
                                <label for="uf_estado" class="">UF</label>
                                <input asp-for="uf_estado" type="text" class="form-control" required>
                            </div>
                        </div>

                        <h5 style="margin-top:16px">Contato</h5>
                        <div class="row">

                            <div class="col-12 col-sm-12 mb-12">
                                <label for="tipo_telefone" class="">Tipo contato</label>
                                <select asp-for="tipo_telefone" class="form-control" required>

                                    <option value="Telefone">Telefone</option>
                                    <option value="Celular">Celular</option>
                                    <option value="Comercial">Comercial</option>

                                </select>
                            </div>

                            <div class="col-12 col-sm-12 mb-12">
                                <label for="numero_contato" class="">Numero contato</label>
                                <input asp-for="numero_contato" type="text" class="form-control" required>
                            </div>
                        </div>

                        @if (ViewData["ErrorMessage"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewData["ErrorMessage"]
                            </div>
                        }
                        @if (ViewData["SuccessMessage"] != null)
                        {
                            <div class="alert alert-success" role="alert">
                                @ViewData["SuccessMessage"]
                            </div>
                        }

                        <button type="submit" class="btn btn-success d-flex float-end justify-content-between" style="margin-top:8px">Cadastrar</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/cadastrarfuncionario.js"></script>