@model AutomacaoFolhaPagamento.Models.FuncionarioDTO

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item active" aria-current="page"><a asp-controller="Funcionarios" asp-action="Index"><span>Funcionários</span></a></li>
        <li class="breadcrumb-item active" aria-current="page">Detalhes de funcionário</li>
    </ol>
</nav>

<h2>Detalhes do Funcionário</h2>

<form asp-action="AtualizarFuncionario" asp-controller="Funcionarios" method="post">
    <hr />
    <section>
        <h3>Informações Pessoais</h3>
        <dl class="row">

            <dt class="col-sm-2">ID</dt>
            <dd class="col-sm-10">
                <input type="hidden" asp-for="@Model.funcionario.id_funcionario" />
                @Model.funcionario.id_funcionario
            </dd>

            <dt class="col-sm-2">Nome</dt>
            <dd class="col-sm-10">
                <input type="text" asp-for="@Model.funcionario.nome_funcionario" disabled />
            </dd>

            <dt class="col-sm-2">Sexo</dt>
            <dd class="col-sm-10">
                <input type="text" asp-for="@Model.funcionario.sexo" disabled />
            </dd>

            <dt class="col-sm-2">Estado Civil</dt>
            <dd class="col-sm-10">
                <input type="text" asp-for="@Model.funcionario.estado_civil" disabled />
            </dd>

            <dt class="col-sm-2">Cargo ID</dt>
            <dd class="col-sm-10">
                <input type="text" asp-for="@Model.funcionario.cargo_id" disabled />
            </dd>

            <dt class="col-sm-2">Departamento</dt>
            <dd class="col-sm-10">
                <input type="text" asp-for="@Model.funcionario.departamento"  disabled />
            </dd>

            <dt class="col-sm-2">Cargo</dt>
            <dd class="col-sm-10">
                <input type="text" asp-for="@Model.funcionario.cargo" disabled />
            </dd>

            <dt class="col-sm-2">Data de Contratação</dt>
            <dd class="col-sm-10">
                <input type="date" asp-for="@Model.funcionario.data_contratacao" disabled />
            </dd>
        </dl>
    </section>

    <section>
        <h3>Endereços</h3>
        @for (var i = 0; i < Model.enderecos.Count; i++)
        {
            <dl class="row">

                <dt class="col-sm-2">Tipo de Endereço</dt>
                <dd class="col-sm-10">
                    <input type="text" asp-for="@Model.enderecos[i].tipo_endereco" disabled />
                </dd>

                <dt class="col-sm-2">Rua</dt>
                <dd class="col-sm-10">
                    <input type="text" asp-for="@Model.enderecos[i].rua" disabled />
                </dd>

                <dt class="col-sm-2">Bairro</dt>
                <dd class="col-sm-10">
                    <input type="text" asp-for="@Model.enderecos[i].bairro" disabled />
                </dd>

                <dt class="col-sm-2">CEP</dt>
                <dd class="col-sm-10">
                    <input type="text" asp-for="@Model.enderecos[i].cep"disabled />
                </dd>

                <dt class="col-sm-2">Cidade</dt>
                <dd class="col-sm-10">
                    <input type="text" asp-for="@Model.enderecos[i].cidade" disabled />
                </dd>
              
            </dl>
        }
    </section>

    <section>
        <h3>Contatos</h3>
        @for (var i = 0; i < Model.contatos.Count; i++)
        {
            <dl class="row">

                <dt class="col-sm-2">Tipo de Telefone</dt>
                <dd class="col-sm-10">
                    <input type="text" asp-for="@Model.contatos[i].tipo_telefone" disabled />
                </dd>

                <dt class="col-sm-2">Numero</dt>
                <dd class="col-sm-10">
                    <input type="text" asp-for="@Model.contatos[i].numero_contato" disabled />
                </dd>

            </dl>
        }
    </section>

    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewData["ErrorMessage"]
        </div>
    }
    @if (ViewData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewData["SuccessMessage"]
        </div>
    }

    <button type="button" id="btnEditarFunc" class="btn btn-warning">Editar</button>
    <button type="submit" id="btnSalvarFunc" class="btn btn-success" style="display:none;">Salvar</button>
    <a asp-controller="Funcionarios" asp-action="Index" class="btn btn-primary">Voltar</a>
</form>

<script>
    document.getElementById("btnEditarFunc").addEventListener("click", function () {
        document.querySelectorAll("input, select, textarea").forEach(el => el.removeAttribute("disabled"));
        document.getElementById("btnSalvarFunc").style.display = "inline-block";
        this.style.display = "none";
    });
</script>